#data/process/
data/raw/catusita/data de venta 01.01.21 a 31.10.24.xls
data/raw/catusita/data de venta 01.01.21 a 31.11.24.xls
#data/raw/sunarp/
#data/raw/sunat/
venv/
utils/correlations/__pycache__/
utils/dashboard/__pycache__/
utils/predictions/__pycache__/
utils/process_data/__pycache__/
utils/rfm/__pycache__/